﻿body{
    background-color:rgba(128, 128, 128, 0.3);
    color:#4d4d4d;
}
.filter{
    padding-left:10px;
}
.filter hr{
    border-color:rgb(120, 119, 119);
}
.list{
    display:block;
    padding:25px 25px 25px 40px;
    font-size:larger;
}
.search{
    background-color:white;
    border-radius:5px;
}
.search span{
    background-color:#1BAFBF;
    color:white;
    border:none;
}
.search input{
    border-radius: 5px;
    padding-top: 6.5px;
    padding-left:10px;
}
.search button{
    float:right;
}
.search{
    margin-top:10px;
    box-shadow:1px 1px 3px rgba(0,0,0,0.4);
}
.result{
    border-radius: 7px;
    padding: 10px;
}
.filters{
    margin-top:20px;
}
.filters .tag {
    background-color: rgba(27, 175, 191, 0.40);
    color: #0d4e7b;
}
.box1 {
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.4), -1px -1px 5px rgba(0,0,0,0.4);
    margin-top: 10px;
    padding: 15px;
    border-bottom: rgb(147, 147, 147) solid 1px;
}
.box1 h1{
    margin: 0 0 -8px;
}
.head{
    overflow: auto;
    width:100%;
}
.box2{
    overflow:auto;
}
.box2 h1{
    margin:0;
    line-height:29px;
}
.box1 img{
    height:50px;
    width:50px;
    border-radius:3px;
    box-shadow:1px 1px 5px rgba(0,0,0,0.4), -1px -1px 5px rgba(0,0,0,0.4);
    margin-right:10px;
}
.brand{
    float:left;
    display:flex;
    margin-bottom: 6px;
    padding:5px;
}
.brand h3 {
    line-height: 1;
    margin-bottom: 0;
}
.ext-link {
    color: #3391e8;
    ;
}
.brand sub{
   color:rgba(0,0,0,0.6);
}
.link{
    float:right;
}
.inactive{
    color: #000;
}
.para{
    padding:15px 12px 10px 65px;

}
@media(max-width:576px){
    .link{
        float:none;
    }
    .brand{
        float:none;
    }
    .para{
        padding:15px 12px 10px 8px;
    }
}

